<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FeedUri" value="stomp:tcp://datafeeds.networkrail.co.uk:61618"/>
    <add key="FeedUsername" value="feedUsername"/>
    <add key="FeedPassword" value="feedPassword"/>
    <add key="MovementFeedTopic" value="topic://TRAIN_MVT_EF_TOC"/>
  </appSettings>
</configuration>