<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="test" connectionString="Data Source=(LocalDB)\v11.0;Initial Catalog=RailDataEngine;Integrated Security=SSPI"/>
  </connectionStrings>
  <appSettings>
    <add key="ScheduleConnectionKey" value="test"/>
    <add key="TrainDescriberConnectionKey" value="test"/>
    <add key="TrainMovementConnectionKey" value="test"/>
  </appSettings>
</configuration>